<div id="<%= dom_id tweet %>">
  <tr>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
            <%= tweet.username %>
        </h5>
        <p class="card-text">
          <%= tweet.description %>
        </p>
        <p>
          <%= link_to "Ver tweet", tweet, class:"btn btn-outline-warning" %>
        </p>
      </div>
    </div>
  </tr>
</div>
