<h1>Editing tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div style="margin:10px;">
  <%= link_to "Ver tweet", @tweet, class:"btn btn-outline-warning" %> |
  <%= link_to "Volver a tweets", tweets_path, class: "btn btn-outline-secondary"  %>
</div>
